@import "../../frontend/components/icons";

.icon{
    &-trash-empty:before {
        content: '\e809';
    }
    &-vcard:before {
        content: '\e808';
    }
    &-newspaper:before {
        content: '\f1ea';
    }
}