@import "../../frontend/components/icons";

.icon{
    &-trash-empty:before {
        content: '\e809';
    }
    &-vcard:before {
        content: '\e808';
    }
    &-newspaper:before {
        content: '\f1ea';
    }
    &-plus:before {
        content: '\e80a';
    }
    &-thumbs-up:before {
        content: '\e80c';
    }
    &-thumbs-down:before {
        content: '\e80d';
    }
}